/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kanit", sans-serif;
    background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(30, 30, 112, 1) 55%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.table-container {
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 12px; /* Espaçamento entre as células */
    background-color: black; /* Fundo preto entre células */
}

th, td {
    padding: 10px;
    text-align: left;
    background-color: #1E1E70; /* Cor padrão das células */
    color: white;
}

th { 
    padding: 16px;
    text-align: center;   
    background-color: #222; /* Cor da primeira linha */
    color: white;
}

tr td:first-child {
    padding: 16px;
    text-align: center; 
    background-color: #222; /* Cor da primeira coluna */
    color: white;
}


