/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #000;
    overflow-x: hidden;
}

/* Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header .logo h1 {
    font-size: 1.5em;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: large;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #00bcd4;
}

/* Hero Section */
/* Estilização para a seção hero */
.hero {
    display: flex;
    flex-direction: row; /* Alinha os itens em linha (horizontalmente) */
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between; /* Espaço entre título/texto e o botão */
    padding: 20px;
    background-color: #000; /* Fundo preto */
    color: #fff;
    height: 100vh; /* Ocupa a altura total da tela */
}

.hero-header {
    flex: 1; /* Ocupará espaço proporcional */
    text-align: left;
}

.hero-title {
    font-size: 2.5rem;
    color: #00c0ff; /* Azul brilhante */
    margin: 0 0 10px;
}

.hero-subtitle {
    font-size: 1.2rem;
    color: #aaa; /* Cinza claro */
    margin-bottom: 20px;
}

.hero-content {
    flex: 2; /* Ocupará mais espaço do que o título */
    padding-left: 20px;
}

.hero-description {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.6;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00c0ff; /* Azul brilhante */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.button:hover {
    background-color: #008fbf; /* Azul escuro ao passar o mouse */
}

/* Resolução para telas menores */
@media (max-width: 768px) {
    .hero {
        flex-direction: column; /* Alinha os itens em coluna */
        text-align: center;
    }

    .hero-content {
        padding-left: 0;
    }
}

/* Footer */
.footer {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    font-size: 0.9em;
    color: #bbb;
}
